html {
  scroll-behavior: smooth;
}


body {
  background-color: #1c1c1c;
}


:root {
  --e-global-color-primary: #0c0c0c;
  --e-global-color-secondary: #f2ce1b;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #f2a81d;
  --e-global-color-8040bdf: #1c1c1c;

  --e-global-typography-primary-font-family: "Oswald";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Oswald";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Oswald";
  --e-global-typography-text-font-weight: 300;
  --e-global-typography-accent-font-family: "Oswald";
  --e-global-typography-accent-font-weight: 500;

  --global-fontsize-secondary: 2.5rem;
  --global-fontsize-accent: 1.5rem;
}

h1 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
}

h2 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  font-size: var(--global-fontsize-secondary);
}

h3 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  font-size: var(--global-fontsize-accent);
}

p {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

button {
  font-size: 1.5rem;
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  border-style: solid;
  border-width: 3px;
  border-color: var(--e-global-color-secondary);

}

a {
  font-family: var(--e-global-typography-text-font-family);
  font-weight: var(--e-global-typography-text-font-weight);
}


/* WRAPPER CONTAINER */

.container {
  margin: 0 auto;
  max-width: 1920px;
  width: 100%;
  /* border: 2px solid red; */
}

.section1 {
  padding-inline: 10%;
  min-height: 600px;
  background-image: url("../photos/Boom_Operator.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.menu {
  display: flex;
  gap: 40px;
}

ul li a {
  font-size: 1.2rem;
  color: #ffffff;
  transition: 0.5s;
}

ul li a:hover {
  color: #f2ce1b;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.active {
  color: #f2ce1b;
}

.logo {
  background-color: #f2ce1b;
  color: #0c0c0c;
  font-size: 2rem;
  /* padding: 20px 45px; */
  padding: 1em 1.2em;
  cursor: pointer;
}

.company_title_box {
  width: 60%;
  /* border: 2px solid red; */
}

.about_company_h1 {
  font-size: 4.688rem;
  line-height: 1.1em;
  margin-bottom: 0.5em;
}

.button_find_out {
  padding: 0.3em 1em;
  color: #f2ce1b;
  background-color: inherit;
  transition: 0.5s ease;
  letter-spacing: 0.2px;
}

.button_find_out:hover {
  color: #0c0c0c;
  background-color: #f2ce1b;
  cursor: pointer;
  transform: scale(1.1);
}

/* SECTION 2 CAPABILITIES */
.section_capabilities {
  margin: 0 auto;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.capabilities_text {
  padding-top: 0.5em;
  width: 100px;
  border-top: 2px solid #f2ce1b;
  border-width: 6px;
  margin-bottom: 1.2em;
}

.capabilities_box_1 {
  /* border: 2px solid red; */
  width: 50%;
}

.capabilities_photo_box {
  /* height: 380px; */
}

.capabilities_photo {
  width: 100%;
  height: auto;
  filter: brightness(70%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition: 1s ease;
}

.capabilities_photo:hover {
  transform: translateY(-5%);
}

.capabilities_box2 {
  display: flex;
  flex-direction: column;
  row-gap: 7.3em;
  width: 45%;
  /* border: 2px solid red; */
}

.capabilities_box2 h3 {
  margin-bottom: 1em;
}

.capabilities_box2 {
  line-height: 1.3;
}

/* SECTION ALL SERVICES */
.section_allservices {
  margin: 0 auto;
  padding: 12% 10%;
  /* border: 2px solid red; */
}

.allservices_title_box {
  width: 50%;
  /* border: 2px solid red; */
  margin-inline: auto;
  margin-bottom: 6em;
}

.allservices_title_box h3 {
  text-decoration: underline;
  text-underline-offset: 2em;
  text-decoration-thickness: 5px;
  text-align: center;
  margin-bottom: 4em;
}

.allservices_title_box h2 {
  text-align: center;
}

.all_services_list_box {
  padding: 5% 0;
  border: 2px solid #f2ce1b;
  display: flex;
  justify-content: space-around;
}

.right_angle_icon {
  color: #f2ce1b;
}

.list_div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.list_div a {
  font-family: var(--e-global-typography-secondary-font-family);
  color: #f2ce1b;
  font-weight: 200;
}

/* SECTION 4 OUR WORK */
.section_our_work {
  margin: 0 auto;
  /* min-height: 1500px; */
  background-color: #0c0c0c;
  padding: 10%;
  /* border: 2px solid red; */
  position: relative;
}

.our_work_text {
  text-decoration: overline;
  text-decoration-thickness: 8px;
  margin-bottom: 2em;
}

.ourwork_box_1 {
  width: 60%;
  margin-bottom: 22em;
}

.ourwork_photo_box {
  transition: .5s ease;
  /* border: 2px solid red; */
  
}

.ourwork_photo1 {
  width: 100%;
  height: auto;
  filter: brightness(70%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  
}

.ourwork_photo_box:hover {
  transform: translateY(-5%);
}

.box_photo2 {
  width: 40%;
  z-index: 1;
  position: absolute;
  top: -2%;
  left: 50%;
  transition:.5s;
}

.box_photo2:hover {
  transform: translateY(-5%);
}

.our_work_photo2 {
  width: 100%;
  height: auto;
}

.box_photo3 {
  width: 40%;
  z-index: 2;
  position: absolute;
  top: 46%;
  left: 32%;
  transition: .5s;
}


.our_work_photo3 {
  width: 100%;
  height: auto;
}

.box_photo3:hover {
  transform: translateY(-5%);
}

.box_photo4 {
  width: 30%;
  position: absolute;
  z-index: 3;
  top: 16%;
  left: 55%;
  transition: .5s;
}

.our_work_photo4 {
  width: 100%;
  height: auto;
}

.box_photo4:hover {
  transform: translateY(-5%);
}

.button_view_projects {
  background-color: inherit;
  color: #f2ce1b;
  padding: 0.3em 1em;
  display: block;
  margin-inline: auto;
  transition: 0.5s;
}

.button_view_projects:hover {
  transform: translateY(-10%);
  background-color: #f2ce1b;
  color: #0c0c0c;
  cursor: pointer;
}

/* SECTION 5 CLIENTS */
.section_clients {
  margin: 0 auto;
  padding: 10%;
}

/* SECTION 6 ABOUT US HOME */
.section6_aboutus_home {
  margin: 0 auto;
  padding: 7% 10%;
  background-color: #0c0c0c;
  
  
}

.about_us_home_div {
  display: flex;  
  justify-content: space-between;
  margin-bottom: 4em;
}


.about_us_box {
  width: 30%;
  /* border: 2px solid red; */
}
.about_us_text {
  padding-top: 0.5em;
  width:150px;
  border-top: 2px solid #f2ce1b;
  border-width: 6px;
  margin-bottom: 1.2em;
}


.curious_about_colture {
  width: 55%;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.curious_about_colture p {
 line-height: 1.3;
 font-weight: 200;
}


.div_founder_info {
  padding: 5% 3%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8em;
}

.founder_photo_box {
  width: 40%;
  transition: .5s;
}

.founder_photo_box:hover {
  transform: translateY(-5%);
}
  


.achi_photo {
  width: 100%;
  height: auto;
  filter: brightness( 80% ) contrast( 100% ) saturate( 0% ) blur( 0px ) hue-rotate( 0deg );
}

.achi_about_home {
  width: 55%;
}

.achi_about_home h2 {
  margin: .5em 0 1.5em;
}

.achi_about_home p {
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 2.5em;
}

.button_more {
  padding: 0.3em 1.5em;
  background-color: inherit;
  color: #f2ce1b;
  transition: .5s;
}

.button_more:hover {
  color: #0c0c0c;
  background-color: #f2ce1b;
  transform: translateY(-5%);
  cursor: pointer;

}

.feel_free_box {
  width: 30%;
  /* border: 2px solid red; */
  margin-inline: auto;
  text-align: center;
}

.feel_free_box h2 {
  margin-bottom: 2em;
}

.button_contact_us {
  display: block;
  margin-inline: auto;
  color: #f2ce1b;
  background-color: inherit;
  padding: 0.3em 1em;
  transition: .5s;
}

.button_contact_us:hover {
  color: #0c0c0c;
  background-color: #f2ce1b;
  transform: translateY(-5%);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #1c1c1c;
  padding: 5%;
 
}

.footer_div_parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3em;
}

.footer_div1 {
  width: 100%;
  display: flex;
  gap: 2em;
  /* border: 2px solid red; */
  place-content: center;
 
}

.footer_div1 a {
  font-size: 1.2rem;
  color: #f2ce1b;
  font-weight: 200;
}

.div_footer_icons {
  display: flex;
  
}

.social_networks {
  display: flex;
  place-content: center;
  gap: 2em;
  /* border: 2px solid red; */
}


.div_footer_icons {
  display: flex;
  align-items: start;
  gap: 10px;
}

.location_icon,
.mail_icon, 
.phone_icon {
  font-size: 1.5rem;
  color:  #f2ce1b;
  transition: .5s;

}

.location_icon:hover {
  color: #f2a81d;
  transform: scale(1.1);
}

.mail_icon:hover {
  color: #f2a81d;
  transform: scale(1.1);
}

.phone_icon:hover {
  color: #f2a81d;
  transform: scale(1.2);
}


.facebook, 
.instagram,
.twitter,
.youtube {
  font-size: 1.2em;
  background-color: inherit;
  border: 1px solid #f2ce1b;
  border-radius: 50%;
  padding: 0.5em;
  color: #f2ce1b;
  transition: .5s ease;

}

.facebook:hover {
  background-color:  #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.8);
  cursor: pointer;

}

.instagram:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}

.twitter:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}

.youtube:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}



/* ABOUT PAGE */

/* SECTION 1  */
.section1_about {
  padding-inline: 10%;
  min-height: 500px;
  background-image: url("../photos/background2.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.company_who_we_are  {
  margin-top: 8em;
}

.company_who_we_are h2 {
  text-decoration: overline #f2ce1b 5px;
  font-size: 2rem;
  

}


.about_company_secnd {
  font-size: 3.5rem;
  margin-top: .5em;
}


/* SECTION 2 ABOUT US / HISTORY OF COMPANY */
.history_of_company {
  padding: 3%;
  /* border: 2px solid #f2ce1b; */
  margin-bottom: 5em;
}

.history_of_company h2{
  margin-bottom: 1em;
}

.history_of_company_paragraph {
  line-height: 1.2;
}


/* SERVICES PAGE */
.section1_services {
  padding-inline: 10%;
  min-height: 600px;
  background-image: url("../photos/back6.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SECTION 2  */

.section2_services {
  margin: 0 auto;
  padding: 10%;
  background-color: #0c0c0c;


}

.section2_services h2 {
  text-align: center;
  text-decoration:  underline 1px solid #f2ce1b ;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 1em;
  margin-bottom: 3em;

}

.services_box_parent {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.service_box_1 {
  padding: 5%;
  border: 2px solid rgb(242, 206, 28);
  transition: 0.8s;
}

.service_box_1:hover {
  background-color: #f2ce1b;
}

.service_box_1:hover h3 {
  color:black;
  
}

.service_box_1:hover p {
  color: black;
}

.service_box_1 p {
  margin: 1em 0 1em;
  line-height: 1.3;
  
}

/* ARTICLE SERVICES  */

.article_service {
  margin: 100px auto;
  padding: 3%;
  /* border: 2px solid #f2ce1b; */

}

.article_service h2  {
  text-decoration:  underline 1px solid #f2ce1b ;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 1em;
  margin-bottom: 3em;
  text-align: center;
}

.article_cards_parent {
  display: flex;
  justify-content: space-between;
}


.article_cards {
  width: 32%;
  min-height: 500px;
  background-image: url("../photos/33f4a084-96af-40ca-bd38-76d1a7133cc5\ 2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}




.cards2 {
  background-image: url("../photos/7af28a5f-7fe4-4451-b60e-92490d46c842\ 2.JPG");
}

.cards3 {
 background-image: url("../photos/133c635b-2e55-41c3-b774-7515e8930b0a\ 2.JPG");
}

.cards_overlay {
  padding: 5%;
  width: 100%;
  background-color: rgb(28, 28, 28, 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 1s ease;
  display: none;
}

.cards_overlay h3 {
  margin: 300px 0 0.5em;
}

.cards_overlay p {
  line-height: 1.3;
}

.article_cards:hover .cards_overlay {
  height: 100%;
  display: block;
}

