html {
  scroll-behavior: smooth;
  background-color: #0c0c0c;
}

body {
  background-color: #0000;
}

:root {
  --e-global-color-primary: #0000;
  --e-global-color-secondary: #F0EB68;
  --e-global-color-text: #ffffff;
  --e-global-color-accent: #f2a81d;
  --e-global-color-8040bdf: #1c1c1c;

  --e-global-typography-primary-font-family: "Oswald";
  --e-global-typography-primary-font-weight: 600;
  --e-global-typography-secondary-font-family: "Oswald";
  --e-global-typography-secondary-font-weight: 400;
  --e-global-typography-text-font-family: "Oswald";
  --e-global-typography-text-font-weight: 300;
  --e-global-typography-accent-font-family: "Oswald";
  --e-global-typography-accent-font-weight: 500;

  --global-fontsize-secondary: 2.5rem;
  --global-fontsize-accent: 1.5rem;
}

h1 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
}

h2 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  font-size: var(--global-fontsize-secondary);
}

h3 {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  font-size: var(--global-fontsize-accent);
}

p {
  color: var(--e-global-color-secondary);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-weight: var(--e-global-typography-text-font-weight);
}

button {
  font-size: 1.5rem;
  font-family: var(--e-global-typography-primary-font-family);
  font-weight: var(--e-global-typography-primary-font-weight);
  border-style: solid;
  border-width: 3px;
  border-color: var(--e-global-color-secondary);
}

a {
  font-family: var(--e-global-typography-text-font-family);
  font-weight: var(--e-global-typography-text-font-weight);
}

/* WRAPPER CONTAINER */

.container {
  margin: 0 auto;
  max-width: 100vw;
  width: 100%;
  background-color: #0000;
  /* border: 2px solid red; */
}

.section1 {
  /* padding-inline: 10%; */
  min-height: 700px;
  background-image: url("../photos/front\ text\ yellow.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  place-content: end;
  align-items: center;
  margin-bottom: 2em;
  background-color: black;
  padding: 2.2em 0.5em;
  /* position: fixed; */
  z-index: 200;
}

.menu {
  display: flex;
  gap: 40px;
}

nav {
  padding-right: 5%;
}

.show {
}

.burgermenu,
.xmark {
  color: #f2ce1b;
  font-size: 1.8rem;
  display: none;
  cursor: pointer;
}

ul li a {
  font-size: 1.6rem;
  color: #ffffff;
  transition: 0.5s;
}

ul li a:hover {
  color: #F0EB68;
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.active {
  color: #F0EB68;
}

.logo-box-cont {
  width: 350px;
  height: 80px;
}

.logo-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .logo {
  background-color: #f2ce1b;
  color: #0c0c0c;
  font-size: 2rem;
  padding: 1em 1.2em;
  cursor: pointer;
  transition: 0.5s all;
}
.logo:hover {
  background-color: #0c0c0c;
  color: #f2ce1b;
} */

.logo-location {
  width: 100%;
}

.company_title_box {
  width: 95%;
  margin-inline: auto;
  /* border: 2px solid red; */
}

.about_company_h1 {
  font-size: 4.688rem;
  line-height: 1.1em;
  margin-bottom: 0.5em;
  color: #f2ce1b;
}

.button_find_out {
  padding: 0.3em 1em;
  color: #f2ce1b;
  background-color: inherit;
  transition: 0.5s ease;
  letter-spacing: 0.2px;
}

.button_find_out:hover {
  color: #0c0c0c;
  background-color: #f2ce1b;
  cursor: pointer;
  transform: scale(1.1);
}

/* SECTION 2 CAPABILITIES */
.section_capabilities {
  margin: 0 auto;
  padding: 5% 10%;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
}

.capabilities_text {
  padding-top: 0.5em;
  width: 100px;
  border-top: 2px solid #f2ce1b;
  border-width: 6px;
  margin-bottom: 1.2em;
}

/* .capabilities_text::before {
  content: '';
  position: absolute;
  width: 80px;
  height: 6px;
  background-color: #f2ce1b;

} */

.capabilities_box_1 {
  /* border: 2px solid red; */
  width: 50%;
}

.capabilities_photo_box {
  /* height: 380px; */
}

.capabilities_photo {
  width: 100%;
  height: auto;
  filter: brightness(80%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition: 1s ease;
}

.capabilities_photo:hover {
  transform: translateY(-5%);
}

.capabilities_box2 {
  display: flex;
  flex-direction: column;
  row-gap: 7.3em;
  width: 45%;
  /* border: 2px solid red; */
}

.capabilities_box2 h3 {
  margin-bottom: 1em;
}

.capabilities_box2 {
  line-height: 1.3;
}

/* SECTION ALL SERVICES */
.section_allservices {
  margin: 0 auto;
  padding: 12% 10%;
  /* border: 2px solid red; */
}

.allservices_title_box {
  width: 50%;
  /* border: 2px solid red; */
  margin-inline: auto;
  margin-bottom: 6em;
}

.allservices_title_box h3 {
  text-decoration: underline;
  text-underline-offset: 2em;
  text-decoration-thickness: 5px;
  text-align: center;
  margin-bottom: 4em;
}

.allservices_title_box h2 {
  text-align: center;
}

.all_services_list_box {
  padding: 5% 0;
  border: 2px solid #f2ce1b;
  display: flex;
  justify-content: space-around;
}

.right_angle_icon {
  color: #f2ce1b;
}

.list_div {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1em;
}

.list_div a {
  font-family: var(--e-global-typography-secondary-font-family);
  color: #f2ce1b;
  font-weight: 200;
}

/* SECTION 4 OUR WORK */
.section_our_work {
  margin: 0 auto;
  /* min-height: 1500px; */
  background-color: #0c0c0c;
  padding: 10%;
  /* border: 2px solid red; */
  position: relative;
}

.our_work_text {
  text-decoration: overline;
  text-decoration-thickness: 8px;
  margin-bottom: 2em;
}

.ourwork_box_photo {
  /* border: 2px  solid #f2ce1b; */
  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
  justify-content: space-between;
  margin-bottom: 3em;
}

.photo_box1 {
  width: 32%;
  transition: 0.8s ease;
}

.photo_box1:hover {
  transform: translateY(-10%);
}

.ourwork_photo1 {
  width: 100%;
  height: auto;
  /* filter: brightness(70%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg); */
}

.third_photo_wide {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
}

.third_photo_wide img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.third_photo_wide:hover {
  transform: translateY(0);
}

.button_view_projects {
  background-color: inherit;
  color: #f2ce1b;
  padding: 0.3em 1em;
  display: block;
  margin-inline: auto;
  transition: 0.5s;
}

.button_view_projects:hover {
  transform: translateY(-10%);
  background-color: #f2ce1b;
  color: #0c0c0c;
  cursor: pointer;
}

/* SECTION 5 CLIENTS */
.section_clients {
  margin: 0 auto;
  padding: 10%;
}

/* SECTION 6 ABOUT US HOME */
.section6_aboutus_home {
  margin: 0 auto;
  padding: 5% 10%;
  background-color: #0000;
}

.about_us_home_div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4em;
  /* border: 2px solid red; */
}

.about_us_box {
  width: 40%;
  /* border: 2px solid red; */
}

.about_us_text {
  padding-top: 0.5em;
  width: 150px;
  border-top: 2px solid #f2ce1b;
  border-width: 6px;
  margin-bottom: 1.2em;
}

.about_us_section_photo {
  overflow: hidden;
  transition: 0.8s;
}

.about_us_section_photo img {
  width: 100%;
  height: auto;
  filter: brightness(100%) contrast(100%) saturate(0%) blur(0px)
    hue-rotate(0deg);
}

.about_us_section_photo:hover {
  transform: translateY(-5%);
}

.curious_about_colture {
  width: 54%;
  display: flex;
  flex-direction: column;
  row-gap: 2.3em;
}

.curious_about_colture p {
  line-height: 1.3;
  font-weight: 200;
}

.div_founder_info {
  padding: 5% 3%;
  background-color: #1c1c1c;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8em;
}

.founder_photo_box {
  width: 40%;
  transition: 0.5s;
}

.founder_photo_box:hover {
  transform: translateY(-5%);
}

.achi_photo {
  width: 100%;
  height: auto;
  filter: brightness(80%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
}

.achi_about_home {
  width: 55%;
}

.achi_about_home h2 {
  margin: 0.5em 0 1.5em;
}

.achi_about_home p {
  font-weight: 200;
  line-height: 1.3;
  margin-bottom: 2.5em;
}

.button_more {
  padding: 0.3em 1.5em;
  background-color: inherit;
  /* color: #F0EB68; */
  transition: 0.5s;
}

.button_more:hover {
  color: #0c0c0c;
  background-color: #f2ce1b;
  transform: translateY(-5%);
  cursor: pointer;
}

.feel_free_box {
  width: 30%;
  /* border: 2px solid red; */
  margin-inline: auto;
  text-align: center;
}

.feel_free_box h2 {
  margin-bottom: 2em;
}

.button_contact_us {
  display: block;
  margin-inline: auto;
  color: #F0EB68;
  background-color: inherit;
  padding: 0.3em 1em;
  transition: 0.5s;
}

.button_contact_us:hover {
  color: #0c0c0c;
  transform: translateY(-5%);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: #0c0c0c;
  padding: 5%;
}

.footer_div_parent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 3em;
}

.footer_div1 {
  width: 100%;
  display: flex;
  gap: 2em;
  /* border: 2px solid red; */
  place-content: center;
}

.footer_div1 a {
  font-size: 1.2rem;
  color: #F0EB68;
  font-weight: 200;
}

.div_footer_icons {
  display: flex;
}

.social_networks {
  display: flex;
  place-content: center;
  gap: 2em;
  /* border: 2px solid red; */
}

.div_footer_icons {
  display: flex;
  align-items: start;
  gap: 10px;
}

.location_icon,
.mail_icon,
.phone_icon {
  font-size: 1.5rem;
  color: #F0EB68;
  transition: 0.5s;
}

.location_icon:hover {
  color: #f2a81d;
  transform: scale(1.1);
}

.mail_icon:hover {
  color: #f2a81d;
  transform: scale(1.1);
}

.phone_icon:hover {
  color: #f2a81d;
  transform: scale(1.2);
}

.facebook,
.instagram,
.twitter,
.youtube {
  font-size: 1.2em;
  background-color: inherit;
  border: 1px solid #F0EB68;
  border-radius: 50%;
  padding: 0.5em;
  color: #F0EB68;
  transition: 0.5s ease;
}

.facebook:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.8);
  cursor: pointer;
}

.instagram:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}

.twitter:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}

.youtube:hover {
  background-color: #f2ce1b;
  color: #0c0c0c;
  transform: scale(0.9);
  cursor: pointer;
}

/* ABOUT PAGE */

/* SECTION 1  */
.section1_about {
  /* padding-inline: 5%; */
  min-height: 400px;
  background-color: black;
  /* background-image: url("../photos/33f4a084-96af-40ca-bd38-76d1a7133cc5\ 2.JPG"); */
  /* background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}
.about_page_header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
.about_page_logo {
  width: 300px;
  height: 90px;
  background-color: #F0EB68;
  object-fit: cover;
}
.company_who_we_are {
  margin-top: 8em;
}

.company_who_we_are h2 {
  text-decoration: overline #F0EB68 5px;
  font-size: 2rem;
}

.about_company_secnd {
  color: #F0EB68;
  font-size: 5rem;
  text-align: center;
  margin-top: 0.5em;
}

/* SECTION 2 ABOUT US / HISTORY OF COMPANY */
.history_of_company {
  /* border: 2px solid #f2ce1b; */
  margin: 1em 0 5em;
}

.history_of_company h2 {
  margin-bottom: 1em;
  text-align: center;
}

.history_of_company_paragraph {
  line-height: 1.4;
}

/* section founder info */
.section2_about_us_page {
  padding-bottom: 1%;
  background-color: #0000;
}

/* section our team */

.section_meet_our_team {
  margin: 0 auto;
  padding: 5%;
  background-color: #0000;
  /* border: 2px solid #f2ce1b; */
}

.section_meet_our_team h2 {
  text-align: center;
  margin-bottom: 2em;
}

.figure_team_professionals {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8em;
}

.employess_info_box {
  width: 24%;
}

.employess_info_box figcaption {
  overflow: hidden;
}

.figure_team_professionals div figcaption img {
  width: 100%;
  height: auto;
  filter: brightness(95%) contrast(110%) saturate(0%) blur(0px) hue-rotate(0deg);
  transition-duration: 0.4s;
  object-fit: cover;
}

.figure_team_professionals div img:hover {
  filter: none;
  transform: scale(1.05);
}

.figure_team_professionals div figcaption {
  margin-bottom: 2em;
}

.worker_name {
  border-top: 2px solid #f2ce1b;
  padding-top: 8%;
  margin-bottom: 1em;
}

.worker_name h3 {
  margin-bottom: 0.7em;
}
.worker_name p {
  font-size: 1.1rem;
}

/* SERVICES PAGE */
.section1_services {
  /* padding-inline: 10%; */
  min-height: 400px;
  /* background-image: url("../photos/133c635b-2e55-41c3-b774-7515e8930b0a\ 2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.service_page_header {
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}

/* SECTION 2  */

.section2_services {
  margin: 0 auto;
  padding: 10%;
  background-color: #0000;
}

.section2_services h2 {
  text-align: center;
  text-decoration: underline 1px solid #F0EB68;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 1em;
  margin-bottom: 3em;
}

.services_box_parent {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
}

.service_box_1 {
  padding: 3%;
  border: 2px solid rgb(242, 206, 28);
  transition: 0.8s;
  overflow: hidden;
}

.service_box_1:hover {
  background-color: #f2ce1b;
}

.service_box_1:hover h3 {
  color: black;
  /* transform: scaleY(1.3); */
  font-size: 1.8rem;
}

.service_box_1:hover p {
  color: black;
  font-size: 1.2rem;
}

.service_box_1 p {
  margin: 1em 0 1em;
  line-height: 1.3;
}

/* ARTICLE SERVICES  */

.article_service {
  margin: 100px auto;
  padding: 3%;
  /* border: 2px solid #f2ce1b; */
}

.article_service h2 {
  text-decoration: underline 1px solid #F0EB68;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 1em;
  margin-bottom: 3em;
  text-align: center;
}

.article_cards_parent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.article_cards {
  width: 32%;
  min-height: 450px;
  background-image: url("../photos/33f4a084-96af-40ca-bd38-76d1a7133cc5\ 2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
}

.cards2 {
  background-image: url("../photos/7af28a5f-7fe4-4451-b60e-92490d46c842\ 2.JPG");
}

.cards3 {
  background-image: url("../photos/133c635b-2e55-41c3-b774-7515e8930b0a\ 2.JPG");
}

.cards_overlay {
  padding: 5%;
  width: 100%;
  background-color: rgb(28, 28, 28, 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 1s ease;
  display: none;
}

.cards_overlay h3 {
  margin: 12em 0 0.5em;
}

.cards_overlay p {
  line-height: 1.3;
}

.article_cards:hover .cards_overlay {
  height: 100%;
  display: block;
}

/* PORTFOLIO PAGE */
.section1_portfolio {
  /* padding-inline: 10%; */
  min-height: 220px;
  background-color: #0c0c0c;
  /* background-image: url("../photos/back6.jpeg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.portfolio_page_header {
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
/* 
.portfolio_title {
  margin-top: 15em;
  width: 70%;
} */

/* SECTION 2 PORTFOLIO CARDS */

.section2_portfolio {
  padding: 3%;
  margin: 0 auto;
  background-color: #0c0c0c;
}

.section2_portfolio h2 {
  text-align: center;
  text-decoration: underline 1px solid #f2ce1b;
  text-decoration-thickness: 0.15em;
  text-underline-offset: 1em;
  margin: 3em 0;
}

figure {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3em;
}

.card_portfolio1 {
  width: 32%;
  height: 400px;
}

.portfolio_photo {
  aspect-ratio: 6 / 9;
  filter: none;
}

.card_portfolio1 {
  width: 32%;
  height: 600px;
  background-image: url("../photos/port8.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

/* .card12 {
  background-image: url("../photos/port7.JPG");
}

.card13 {
  background-image: url("../photos/port9.JPG");
}

.card14 {
  width: 32%;
  height: 600px;
  background-image: url("../photos/8a28740e-63d4-4aeb-bc82-eaa250b9ed35.JPG");
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card15 {
  background-image: url("../photos/f0f58f2a-3d8b-48c2-aaa0-89f719bbca53.JPG");
  
}

.card16 {
  background-image: url("../photos/8a8c837e-8527-4b52-9b3c-f1c29c35d2cc.JPG");
} */

.cards_overlay2 {
  padding: 8%;
  width: 100%;
  background-color: rgb(28, 28, 28, 70%);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: 1s ease;
  display: none;
}

.cards_overlay2 h3 {
  margin-top: 16em;
  margin-bottom: 0.5em;
}

.cards_overlay2 p {
  line-height: 1.3;
}

.card_portfolio1:hover .cards_overlay2 {
  display: block;
  height: 100%;
}

/* CONTACT PAGE */
.section1_contact {
  margin: 0 auto;
  /* padding-inline: 10%; */
  min-height: 650px;
  background-image: url("../photos/af583ebe-d990-4a9a-b74b-b0d576eb05c8\ 2.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.contact_page_header {
  justify-content: space-between;
  align-items: center;
}

.contact_page_heading {
  font-size: 3.5rem;
  color: #F0EB68;
  text-align: end;
  margin-top: 5em;
  
}

/* SECTION 2 CONTACT */

.section2_contact {
  margin: 0 auto 100px;
  padding: 10%;
  display: flex;
  justify-content: space-between;
}

.contact_about_us {
  /* border: 2px  solid red; */
  width: 43%;
}

.contact_about_us h2 {
  text-decoration: overline 1px solid #F0EB68;
  text-decoration-thickness: 0.15em;
  margin-bottom: 1.5em;
  color: #F0EB68;

}

.contact_about_us p {
  line-height: 1.5;
  font-weight: 200;
  margin-bottom: 2em;
  color: #F0EB68;
}

.contact_page_icons {
  display: flex;
  gap: 1em;
  align-items: center;
}

.second_icons_box {
  margin: 1em 0;
}
.contact_page_icons a {
  color: #F0EB68;
  letter-spacing: 0.7px;
}

form {
  width: 50%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

input {
  width: 100%;
  background-color: inherit;
  border: 2px solid #F0EB68;
  border-width: 4px;
  padding: 1em;
  color: #f2a81d;
  font-weight: 200;
  transition: 0.5s;
  outline: none;
}

input:hover {
  border-color: #f2a81d;
}

::placeholder {
  color: #F0EB68;
  font-family: var(--e-global-typography-text-font-family);
  font-weight: 200;
}

textarea {
  background-color: inherit;
  border: 2px solid #F0EB68;
  border-width: 4px;
  padding: 1em;
  color: #f2a81d;
  font-weight: 200;
  transition: 0.5s;
  outline: none;
}

textarea:hover {
  border-color: #f2a81d;
}

.button_send_message {
  background-color: inherit;
  color: #F0EB68;
  padding: 0.3em 0;
  transition: 0.5s;
  border: 4px solid #F0EB68;
}

.button_send_message:hover {
  background-color: #f2a81d;
  border-color: #f2a81d;
  color: #0c0c0c;
  cursor: pointer;
}

/* SECTION IFRAME */
iframe {
  width: 100%;
  height: 400px;
  margin-bottom: 12em;
}
