@media (max-width: 1024px) {
  /* section1 */

  header {
   padding-right: 1rem;
  }

 .company_title_box {
  padding-inline: 1%;

 }

 
  .burgermenu {
    top: 0;
    color: #f0eb68;
    display: block;
  }
  .xmark {
    top: 0;
    color: #f0eb68;
  }

  .menu {
    width: 398px;
    height: 70vh;
    border-radius: 2px;
    flex-direction: column;
    align-items: center;
    gap: 0;
    justify-content: space-around;
    position: fixed;
    top: 0px;
    left: -100%;
    background-color: rgb(12, 12, 12, 85%);
    /* background-color: rgb(240, 235, 104, 90%); */

    z-index: 1;
    transition: 1s ease;
    
    
  }

  .show {
    left: 0;
  }

  /* SECTION 2 CAPABILITIES */
  .section_capabilities {
    padding: 5% 3%;
  }


  /* SECTION ALL SERVICES */
  .section_allservices {
    padding: 8% 3%;
  }

  /* SECTION OUR WORK */
  .section_our_work {
    padding: 5% 3%;
  }


  /* SECTIOn 6 ABOUT US HOME */
  .section6_aboutus_home {
  padding: 5% 0%;


}
.about_us_home_div {
  width: 95%;
  margin-inline: auto;
}

.feel_free_box {
  width: 100%;

}


footer {
  padding: 5% 3%;
}



/* ABOUT PAGE */

.section1_about {
    padding: 0 3% 5% 0;
  }


 .company_who_we_are {
  padding-inline: 2%;
  margin-top: 0em;
  width: 100%;
 }

.about_company_secnd {
  padding-top: 0;
  margin-top: 0;
} 

 .history_of_company {
  padding-inline: 3%;
 }

 .section2_about_us_page {
  margin-top: 3em;
  padding-inline: 2rem;
 }

 /* section  meet our team */
 .section_meet_our_team  {
   padding-inline: 3%;
 }

 .figure_team_professionals {
   flex-wrap: wrap;
   row-gap: 2em;

 }

 .employess_info_box {
  width: 40%;
 }


/* SERVICE PAGE */

.section1_services {
  padding: 0 3% 10% 0;

}

/* SECTION 2 SERVICES */

.section2_services {
  padding: 5% 3%;
}


/* ARTICLE SERVICES */ 
.article_service {
  margin: 50px auto;
}

.article_cards_parent {
  flex-wrap: nowrap;
  flex-direction: column; 
  row-gap: 2em;
  margin-inline: auto;
}

.article_cards {
  width: 90%;
  min-height: 420px;
  margin-inline: auto;
}

.cards_overlay h3 {
 margin: 11em 0 0.5em;

}

/* PORTFOLIO PAGE */


/* SECTION 2  */

.section2_portfolio {
  padding: 3%;
}

.section2_portfolio h2 {
  margin: 2em 0;
}

.figure_team_professionals {
  gap: 5em 1em;
}

.employess_info_box {
  width: 48%;
}

figure {
  justify-content: space-evenly;
  gap: 2em;
  row-gap: 1em;
}


.card_portfolio1 {
  width: 37%;
  height: 450px;
}

.cards_overlay2 h3 {
  margin-top: 8em;
  margin-bottom: 0.5em;
  text-align: center;
}
 




/* CONTACT PAGE */
.section1_contact {
  min-height: 500px;
}

.section2_contact {
  padding: 10% 3%;
}



}


@media (max-width: 860px) {
  .employess_info_box {
    width: 47%;
   }

  }
  
  
 

